<div class="sponsor pt-5 overflow-x-hidden">
    <div class="container-fluid">
        <h1 class="fw-bold text-center mb-5 color1">Proudly Sponsored By </h1>
        <div class="swiper1 text-center">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="/assets/images/palm-tech.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/google.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/microsoft.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/flutterwave.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/hisense.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        
    </div>
</div>
<footer class="pt-5 px-sm-5 px-3 mb-0 pb-2">
    <div class="container-fluid text-md-center text-start px-sm-5  mb-0">
        <p class="fw-bold mb-1 color1">CONTACT INFORMATION</p>
        <div class="row gy-1 gx-5 mb-4">
            <div class="col-md col-12">
                <i class="bi bi-telephone-outbound-fill"></i>
                +2340000000000
            </div>
            <div class="col-md col-12">
                <i class="bi bi-envelope-at-fill"></i>
                contact@techxfest.com
            </div>
            <div class="col-md col-12">
                <i class="bi bi-clock-history"></i>
                Everyday 9:00 - 17:00
            </div>
        </div>
        <p>&copy; Copyright TechXFest 2023, All Right Reserved. </p>
    </div>
</footer>

<script>
     const swiper1 = new Swiper('.swiper1', {
            loop: true,
            speed: 400,
            autoplay:{
                delay: 2000
            },
            spaceBetween: 100,
            slidesPerView: 2,
            spaceBetween: 30,
            // Responsive breakpoints
            breakpoints: {
                // when window width is >= 480px
                480: {
                slidesPerView: 2,
                spaceBetween: 30
                },
                // when window width is >= 640px
                768: {
                slidesPerView: 3,
                spaceBetween: 40
                },
                992: {
                slidesPerView: 4,
                spaceBetween: 40
                }
            }
        });
</script>