<footer class="pt-5 px-sm-5 px-3 mb-0 pb-2">
    <div class="container-fluid text-md-center text-start px-sm-5  mb-0">
        <p class="fw-bold mb-1 color1">CONTACT INFORMATION</p>
        <div class="row gy-1 gx-5 mb-4">
            <div class="col-md col-12">
                <i class="bi bi-telephone-outbound-fill"></i>
                +2340000000000
            </div>
            <div class="col-md col-12">
                <i class="bi bi-envelope-at-fill"></i>
                contact@techxfest.com
            </div>
            <div class="col-md col-12">
                <i class="bi bi-clock-history"></i>
                Everyday 9:00 - 17:00
            </div>
        </div>
        <p>&copy; Copyright TechXFest 2023, All Right Reserved. </p>
    </div>
</footer>