<nav class="navbar navbar-expand-lg fixed-top navbar-custom align-middle px-sm-5  px-2 m-0" >
    <div class="container-fluid m-0 p-0 pe-lg-5">
        <a class="navbar-brand p-2 py-0 " href="/">
          <img src="/assets/images/logo.png" alt="logo" class="nav_logo img-fluid" width="177" height="51" >
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse navbar-collapse-custom m-0 p-0" id="navbarSupportedContent">
        <div class="mx-auto">
            <ul class="navbar-nav ms-lg-5 text-center">
                    <li class="nav-item ms-lg-5 pe-lg-3 ps-lg-5 fs-5 fw-semibold">
                        <a class="nav-link text-light" href="/" >Home</a>
                      </li>
                      <li class="nav-item px-lg-4 fs-5 fw-semibold">
                        <a class="nav-link text-light" href="/about" >About</a>
                      </li>
                      <li class="nav-item px-lg-3 fs-5 fw-semibold">
                        <a class="nav-link text-light" href="/program">Program</a>
                      </li>
                
              </ul>
        </div>
        <div class="ms-md-auto text-center">
                <button class="btn btn-success text-light px-3 py-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Register Now</button>
          </div>
      </div>
    </div>
</nav>

<div class="modal fade" id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body waitlist-modal">
          <div class="success"><h2 class="fw-bold text-center color1">You have successfully registered!!</h2></div>
          <form id="form">
              <div class="mb-3">
                  <label for="FormControlInput1" class="form-label name color1 fw-bold" >Name</label>
                  <input type="text" class="form-control" id="FormControlInput1" placeholder="Please input your Fullname" name="name" required>
                </div>
              <div class="mb-3">
                  <label for="FormControlInput2" class="form-label email color1 fw-bold">Email address</label>
                  <input type="email" class="form-control" id="FormControlInput2" placeholder="name@example.com" name="email" required>
              </div>
              <div class="mb-3">
                  <label for="FormControlInput4" class="form-label color1 fw-bold">Phone Number</label>
                  <input type="tel" class="form-control" id="FormControlInput4" placeholder="+23400000000" name="phone" required>
              </div>
              <div class="mb-3">
                  <label for="select" class="form-label color1 fw-bold">Gender</label>
                  <select class="form-select gender" aria-label="Default select example" id="select" name="gender">
                      <option selected>Choose your Gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                  </select>
                  <p class="roleError text-danger fw-sembold ps-2 mt-1">Please Select your Gender</p>
              </div>
              <div class="mb-3">
                  <label for="select1" class="form-label color1 fw-bold">Attendee Category</label>
                  <select class="form-select category" aria-label="Default select1 example" id="select1" name="category">
                      <option selected>Choose your Category</option>
                      <option value="Geneal Attendee">General Attendee</option>
                      <option value="student">Student</option>
                      <option value="speaker">Speaker</option>
                      <option value="Exhibitor">Exhibitor</option>
                  </select>
                  <p class="roleError1 text-danger fw-sembold ps-2 mt-1">Please Select your Category</p>
              </div>
              

              
              <button type="submit" id="join" class="btn btn-success fw-semibold mt-3">Register</button>
          </form>
      </div>
    </div>
  </div>
</div>

<script>
  const form = document.getElementById('form');
  let genderError = document.querySelector('.roleError')
  let categoryError = document.querySelector('.roleError1')
  let success = document.querySelector('.success')
  genderError.style.display = 'none'
  categoryError.style.display = 'none'
  success.style.display = 'none'

  form.addEventListener('submit', (e)=>{
      e.preventDefault()
      let gender = document.querySelector('.gender').value
      let category = document.querySelector('.category').value
      // console.log(role)
      if (gender == 'Choose your Gender'){
          genderError.style.display = 'block'
          categoryError.style.display = 'none'
      } else if(category == 'Choose your Category'){
          categoryError.style.display = 'block'
          genderError.style.display = 'none'
      }else{
          genderError.style.display = 'none'
          categoryError.style.display = 'none'
          const formData = new FormData(form);
          const payload = new URLSearchParams(formData);

          fetch('/waitlist',{
              method: 'POST',
              body: payload
          }).then(res => res.json())

          form.style.display = 'none'
          success.style.display = 'block'
      }

  })
</script>