<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About TechXFest 2023</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <section class="pt-5">
            <div class="container-fluid py-5 px-sm-5 px-3">
                <div class="text-center">
                    <h1 class="color1 about-title p-2">About Us</h1>
                </div>
                <p class="fs-5 px-sm-5">
                    <span class="color1"><i>TechXFest</i></span> is an annual technology extravaganza that brings together visionaries, experts, and enthusiasts from around the world to celebrate the ever-evolving realm of technology. Our conference serves as a platform for thought-provoking discussions, hands-on workshops, and interactive sessions, all aimed at fostering creativity, learning, and collaboration. It is proudly sponsored and organized by the <span class="color1"><i>Association of Information and Communication Technology Students, ASICTS</i></span>.
                </p>
                <p class="fs-5 px-sm-5">
                    At <span class="color1"><i>TechXFest</i></span>, we're committed to showcasing the latest trends, breakthroughs, and innovations across various technological domains. Our carefully curated lineup of speakers and presenters represents a diverse spectrum of industries, ensuring that attendees gain insights and knowledge that transcend boundaries.
                </p>
                <p class="fs-5 px-sm-5">
                    Join us to immerse yourself in a dynamic environment where ideas flourish and connections thrive. Whether you're an industry veteran, an aspiring technologist, or simply curious about the future, <span class="color1"><i>TechXFest</i></span> offers an unparalleled opportunity to engage with cutting-edge technologies, network with like-minded individuals, and broaden your horizons.
                </p>
            </div>
        
            <div class="container-fluid pb-5 px-sm-5 px-3">
                <div class="text-center">
                    <h1 class="color1 about-title p-2">Our Mission</h1>
                </div>
                <p class="fs-5 px-sm-5">
                    <span class="color1"><i>TechXFest</i></span>'s mission is to inspire, educate, and empower individuals to harness the power of technology for positive change. We believe that by fostering a community of passionate learners and innovators, we can collectively shape a more innovative and interconnected world.
                </p>
                <div class="fs-5 px-sm-5 py-5 px-3">
                    <h1 class="about-title p-2">Event Highlights</h1>
                    <ul>
                        <li>
                            <span class="color1">Inspiring Keynotes:</span> Gain insights from influential figures who are shaping the tech landscape.
                        </li>
                        <li>
                            <span class="color1">Interactive Workshops:</span> Dive deep into hands-on sessions led by experts, and enhance your skills.
                        </li>
                        <li>
                            <span class="color1">Technology Showcase:</span> Explore a vibrant exhibit of the latest gadgets, tools, and breakthroughs.
                        </li>
                        <li>
                            <span class="color1">Networking Opportunities:</span> Connect with peers, mentors, and potential collaborators during dedicated networking sessions.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="team py-5 text-center">
                <h1 class=" color1 about-title p-2">Organizing Team </h1>
                <div class="container-fluid">
                    <div class="swiper text-center">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Engr. Dr. Amadi</p>
                                <p class="fs-5">Honourary Chair</p>
                                </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <%- include('partials/footer') %>
</body>
<script>
        const swiper = new Swiper('.swiper', {
            loop: true,
            speed: 400,
            spaceBetween: 100,
            autoplay: {
                delay: 1000,
            },
            slidesPerView: 2,
            spaceBetween: 30,
            // Responsive breakpoints
            breakpoints: {
                // when window width is >= 480px
                480: {
                slidesPerView: 2,
                spaceBetween: 30
                },
                // when window width is >= 640px
                768: {
                slidesPerView: 3,
                spaceBetween: 40
                },
                992: {
                slidesPerView: 4,
                spaceBetween: 40
                }
            }
        });
</script>
</html>