<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechX 2023</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <section class="hero pt-5 d-flex">
            <div class="pt-5 container-fluid align-self-center ps-sm-5 ps-4">
                <div class="row px-sm-5 gy-3">
                    <div class="col-md-7 col-12">
                        <h1 class="display-1 fw-bolder mb-4">Tech<i class="color1">X</i> 2023</h1>
                        <h3 class="my-3">Where <i class="color1">Innovation</i> Meets <i class="color1">Reality</i></h3>
                        <p class="pb-5 fs-5">An ASICTS Technological Conference</p>
                    </div>
                    <div class="col-md-5 col-12">
                        <p class="mb-5"><i>THE BIGGEST TECH EVENT IN OWERRI IS BACK</i></p>
                        <p class="fs-5 mb-5">
                            <i class="bi bi-calendar3 myicon"></i>
                            August 21-23,2023
                        </p>
                        <p class="fs-5 mb-5">
                            <i class="bi bi-geo-alt-fill myicon"></i>
                            SMAT Auditorium, FUTO, Owerri
                        </p>
                        <button class="btn btn-success text-light px-3 py-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Register Now</button>
                    </div>
                </div>
                
            </div>
        </section>
        <section class="py-5 bg1">
            <div class="container-fluid px-sm-5 py-5">
                <div class="row px-sm-5 px-2 g-4">
                    <div class="col-12 col-md-6 align-self-center pb-5">
                        <p class="fs-1">Join us at the <span class="color1"><i>TechX</i></span> 2023</p>
                        <p class="fs-3">- Where <i class="color1">Innovation</i> Meets <i class="color1">Reality!</i></p>
                        <p class="fs-5">Discover the latest tech trends, network with industry experts, and unlock the future of technology.</p>
                        <p class="fs-5">Don't miss out on this electrifying event!</p>
                        <a href="/about" class="btn btn-success">Learn More</a>
                    </div>
                    <div class="col-12 col-md-6 px-sm-4">
                        <h3 class=""><i>A Must Attend</i></h3>
                        <div class="row">
                            <div class="col-2 text-center align-self-center">
                                    <span class="material-symbols-outlined color1 ">
                                        diversity_2
                                    </span>
                            </div>
                            <div class="col-10"> 
                                <p class="fs-4 mb-0 color1"><i>Networking</i></p>
                                <p>Foster Bonding and mentoring between Tech experts and Meet fellow tech enthusiats. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center align-self-center">
                                <span class="material-symbols-outlined color1">
                                    mic_external_on
                                </span>
                            </div>
                            <div class="col-10"> 
                                <p class="fs-4 mb-0 color1"><i> Great Speakers</i></p>
                                <p>Panel discussions and speeches from world renowed leaders.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center align-self-center">
                                <span class="material-symbols-outlined color1">
                                    cognition
                                    </span>
                            </div>
                            <div class="col-10"> 
                                <p class="fs-4 mb-0 color1"><i> Engage New Ideas</i></p>
                                <p>New ideas, techincal training and knowledge exchanges for tech professions.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center align-self-center">
                                <span class="material-symbols-outlined color1">
                                    monitoring
                                    </span>
                            </div>
                            <div class="col-10"> 
                                <p class="fs-4 mb-0 color1"><i>  Discusss the Future</i></p>
                                <p>An amazing debate on the future of technology with its merits and demerits.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container-fluid">
                <div class="row g-4 px-sm-5 text-center">
                    <div class="col-md-3">
                        <p><span class="display-1 fw-bold color1">20 </span><br class="d-none d-md-block"><span>Skilled Speakers</span></p>
                    </div>
                    <div class="col-md-3">
                        <p><span class="display-1 fw-bold color1">15+ </span><br class="d-none d-md-block"><span>Workshops</span></p>
                    </div>
                    <div class="col-md-3">
                        <p><span class="display-1 fw-bold color1">500+ </span><br class="d-none d-md-block"><span>Event Participants</span></p>
                    </div>
                    <div class="col-md-3">
                        <p><span class="display-1 fw-bold color1">3 </span><br class="d-none d-md-block"><span>Days Full of Inspiration</span></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-5">
            <div class="container-fluid py-5 speakers">
                <div class="text-center">
                    <h1 class="color1 about-title p-2" >Keynote Speakers</h1>
                </div>
                <div class="container-fluid pt-4">
                    <div class="swiper text-center">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3 color1">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/grant.jpg" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3 color1">Eke Grant</p>
                                <p class="fs-5">Fullstack Developer</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/teresa.JPG" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3 color1">Chukwueberechi Theresa</p>
                                <p class="fs-5">Cloud Engineer</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/bobby.JPG" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3 color1">Nwadike Goodluck Bobby</p>
                                <p class="fs-5">Software Engineer</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/ugonna.JPG" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3 color1">Oparugo Ugonna</p>
                                <p class="fs-5">Blockchain Developer</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/joe.JPG" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3 color1">Simeon Henry Joe</p>
                                <p class="fs-5">DevOps Engineer</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/raphael.JPG" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3 color1">Chukwuemeka Raphael</p>
                                <p class="fs-5">Data Analyst</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3 color1">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/team.png" alt="" class="img-fluid img-size">
                                <p class="fw-bold mb-0 fs-3 color1">Member1</p>
                                <p class="fs-5">Role1</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg2 py-5">
            <div class="container-fluid py-5 text-center">
                <h1>MEET US ON <span class="color1"><i>AUGUST 21, 2023</i></span></h1>
                <div class="row pt-5">
                    <div class="col">
                        <p class="display-1 fw-bold mb-0 day"></p>
                        <p >DAYS</p>
                    </div>
                    <div class="col">
                        <p class="display-1 fw-bold mb-0 hour"></p>
                        <p>HOURS</p>
                    </div>
                    <div class="col">
                        <p class="display-1 fw-bold mb-0 min"></p>
                        <p>MINS</p>
                    </div>
                    <div class="col">
                        <p class="display-1 fw-bold mb-0 sec"></p>
                        <p>SECS</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 px-sm-5">
            <div class="container-fluid px-sm-5 px-4">
                <h1 class="fw-bold color1">PROGRAM</h1>
                <p class="fs-4">This Conference is scheduled to run through all 3 days from 21 - 23 August, 2023. </p>
                <p class="fs-4">We will provide free lunch and coffee break in each day.</p>
                <a href="/program" class="btn btn-success btn-lg">View Full Schedule</a>
            </div>
        </section>
        <section class="bg3 py-5 ">
            <div class="container-fluid text-center py-5 px-3">
                <h1>AN EASY TO LOCATE VENUE</h1>
                <p class="fs-3">
                    <i class="bi bi-geo-alt-fill color1"></i>
                    SMAT Auditorium, FUTO, Owerri
                </p>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5188.734037448581!2d6.985909037403602!3d5.381128240189208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10425dd14ea515f3%3A0x52d4f92302280619!2sSMAT%20Auditorium%20II!5e0!3m2!1sen!2sng!4v1691407970261!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
                </div>

            </div>
        </section>
        <section class="py-5 px-sm-5">
            <div class="container-fluid text-center px-sm-5 py-5 px-3">
                <h1 class="mb-4">WE BRING TOGETHER <span class="color1">TOP TECH EXPERTS</span> & <span class="color1"> EXPEREINCED TECHNOLOGISTS</span> TO DISCUSS THE FUTURE OF TECH IN AFRICA. </h1>
                <button class="btn btn-success text-light btn-lg px-3 py-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Register Now</button>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
<script>
    const eventDay = new Date('08/21/2023')

    const second = 1000;
    const minute = second * 60;
    const hour = minute * 60;
    const day = hour * 24;

    let dayfield = document.querySelector('.day')
    let hourfield = document.querySelector('.hour')
    let minutefield = document.querySelector('.min')
    let secondfield = document.querySelector('.sec')

    function countdown(){
        let now = new Date();
        let timeSpan = eventDay - now
        let days = Math.floor(timeSpan / day);
        let hours = Math.floor((timeSpan % day) / hour);
        let minutes = Math.floor((timeSpan % hour) / minute);
        let seconds = Math.floor((timeSpan % minute) / second);
  
        // Set results
        dayfield.innerHTML = days;
        hourfield.innerHTML = hours;
        minutefield.innerHTML = minutes;
        secondfield.innerHTML = seconds;
    }

    let interval = setInterval(countdown, 1000)


    const swiper = new Swiper('.swiper', {
        loop: true,
        speed: 400,
        spaceBetween: 100,
        autoplay: {
            delay: 1000,
        },
        slidesPerView: 2,
        spaceBetween: 30,
        // Responsive breakpoints
        breakpoints: {
            // when window width is >= 480px
            480: {
            slidesPerView: 2,
            spaceBetween: 30
            },
            // when window width is >= 640px
            768: {
            slidesPerView: 3,
            spaceBetween: 40
            },
            992: {
            slidesPerView: 4,
            spaceBetween: 40
            }
        }
    });
</script>
</html>