<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechXFest 2023</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <section class="hero pt-5 d-flex">
            <div class="pt-5 container-fluid align-self-center ps-sm-5 ps-4">
                <div class="row px-sm-5 gy-3">
                    <div class="col-md-7 col-12">
                        <h1 class="display-1 fw-bolder mb-4">Tech<i class="color1">X</i>Fest 2023</h1>
                        <h3 class="my-3">Where <i class="color1">Innovation</i> Meets <i class="color1">Reality</i></h3>
                        <p class="pb-5 fs-5">An ASICTS Technological Conference</p>
                    </div>
                    <div class="col-md-5 col-12">
                        <p class="mb-5"><i>THE BIGGEST TECH EVENT IN OWERRI IS BACK</i></p>
                        <p class="fs-5 mb-5">
                            <i class="bi bi-calendar3 myicon"></i>
                            August 15-17,2023
                        </p>
                        <p class="fs-5 mb-5">
                            <i class="bi bi-geo-alt-fill myicon"></i>
                            SMAT Auditorium, FUTO, Owerri
                        </p>
                        <button class="btn btn-success text-light px-3 py-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Register Now</button>
                    </div>
                </div>
                
            </div>
        </section>
        <section class="py-5 bg1">
            <div class="container-fluid px-sm-5 py-5">
                <div class="row px-sm-5 px-2 g-4">
                    <div class="col-12 col-md-6 align-self-center pb-5">
                        <p class="fs-1">Join us at the <span class="color1"><i>TechXFest</i></span> 2023</p>
                        <p class="fs-3">- Where <i class="color1">Innovation</i> Meets <i class="color1">Reality!</i></p>
                        <p class="fs-5">Discover the latest tech trends, network with industry experts, and unlock the future of technology.</p>
                        <p class="fs-5">Don't miss out on this electrifying event!</p>
                        <a href="/about" class="btn btn-success">Learn More</a>
                    </div>
                    <div class="col-12 col-md-6 px-sm-4">
                        <h3 class=""><i>A Must Attend</i></h3>
                        <div class="row">
                            <div class="col-2 text-center align-self-center">
                                    <span class="material-symbols-outlined color1 ">
                                        diversity_2
                                    </span>
                            </div>
                            <div class="col-10"> 
                                <p class="fs-4 mb-0 color1"><i>Networking</i></p>
                                <p>Foster Bonding and mentoring between Tech experts and Meet fellow tech enthusiats. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center align-self-center">
                                <span class="material-symbols-outlined color1">
                                    mic_external_on
                                </span>
                            </div>
                            <div class="col-10"> 
                                <p class="fs-4 mb-0 color1"><i> Great Speakers</i></p>
                                <p>Panel discussions and speeches from world renowed leaders.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center align-self-center">
                                <span class="material-symbols-outlined color1">
                                    cognition
                                    </span>
                            </div>
                            <div class="col-10"> 
                                <p class="fs-4 mb-0 color1"><i> Engage New Ideas</i></p>
                                <p>New ideas, techincal training and knowledge exchanges for tech professions.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center align-self-center">
                                <span class="material-symbols-outlined color1">
                                    monitoring
                                    </span>
                            </div>
                            <div class="col-10"> 
                                <p class="fs-4 mb-0 color1"><i>  Discusss the Future</i></p>
                                <p>An amazing debate on the future of technology with its merits and demerits.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>